<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Antonija Pek</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:regular,500,700%7CChivo:300,300italic,regular,italic,700,700italic,900,900italic">

    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
    <link rel="stylesheet" href="css/lity.min.css">
</head>

<body>
    <div class="load">
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}

        <footer class="footer">
            <div class="container">
                <div class="columns is-centered">
                        <div class="column is-three-quarters-tablet">
                            <div class="columns">
                            <div class="column has-text-centered-mobile">
                                <p>Copyright (c) 2013-2018 Antonija Pek. All Rights Reserved</p>
                            </div>
                            <div class="column is-narrow is-pulled-right-tablet">
                                    <div class="columns is-mobile has-text-centered">
                                    <div class="column">
                                        <a href="/"><img src="/images/logo-dribbble.svg" alt=""></a>
                                    </div>
                                    <div class="column">
                                        <a href="/"><img src="/images/logo-linkedin.svg" alt=""></a>
                                    </div>
                                    <div class="column">
                                        <a href="/"><img src="/images/logo-medium.svg" alt=""></a>
                                    </div>
                                    <div class="column">
                                        <a href="/"><img src="/images/logo-github.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </footer>
    </div>

    {{ $jquery := resources.Get "js/jquery/dist/jquery.min.js" }}
    {{ $lity := resources.Get "js/lity/dist/lity.min.js" }}
    {{ $mainjs := resources.Get "js/main.js" }}
    
    {{ $js := slice $jquery $lity $mainjs | resources.Concat "js/bundle.js" }}

    <script src="{{ $js.Permalink }}"></script>
</body>

</html>